[submodule "extras/kwin-scripts"]
	path = extras/kwin-scripts
	url = https://gitlab.com/Worldblender/kwin-scripts
[submodule "extras/bin/git/gay"]
	path = extras/bin/git/gay
	url = https://github.com/nejni-marji/gay
[submodule "extras/bin/git/zsh-git-prompt"]
	path = extras/bin/git/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
[submodule "extras/bin/git/unimatrix"]
	path = extras/bin/git/unimatrix
	url = https://github.com/will8211/unimatrix
[submodule "extras/bin/git/opensub"]
	path = extras/bin/git/opensub
	url = https://github.com/aoeu/opensub
[submodule "extras/config/nvim/autoload/junegunn/vim-plug"]
	path = extras/config/nvim/autoload/junegunn/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "extras/config/nvim/autoload/airblade/vim-gitgutter"]
	path = extras/config/nvim/autoload/airblade/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "extras/config/nvim/autoload/dense-analysis/ale"]
	path = extras/config/nvim/autoload/dense-analysis/ale
	url = https://github.com/dense-analysis/ale
[submodule "extras/config/nvim/autoload/machakann/vim-highlightedyank"]
	path = extras/config/nvim/autoload/machakann/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "extras/config/nvim/autoload/tpope/vim-commentary"]
	path = extras/config/nvim/autoload/tpope/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "extras/config/nvim/autoload/tpope/vim-sensible"]
	path = extras/config/nvim/autoload/tpope/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "extras/config/nvim/autoload/tpope/vim-surround"]
	path = extras/config/nvim/autoload/tpope/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "extras/config/nvim/autoload/unblevable/quick-scope"]
	path = extras/config/nvim/autoload/unblevable/quick-scope
	url = https://github.com/unblevable/quick-scope
