**/__pycache__
/.stfolder
/.stversions

# random crap that shouldnt be saved
/extras/config/cava/shaders
/extras/config/cava/themes
/extras/config/mpd/database
/extras/config/mpd/log
/extras/config/mpd/playlists
/extras/config/mpd/state
/extras/config/mpd/sticker.*
/extras/config/mpv/watch_later/
/extras/config/nvim/data/
/extras/config/weechat
/extras/config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
/zsh/*.lck

# secrets
/extras/.deadname_re
/extras/secrets

# hostname-suffixed symlinks
/extras/config/foot/foot.ini
/extras/config/i3blocks/bin/date_fuzzy_emoji_clock.py
/extras/config/i3blocks/config
/extras/config/mako/config
/extras/config/sway/config.d/host-include
