**/__pycache__
/.stfolder
/.stversions

# random crap that shouldnt be saved
/config/cava/shaders
/config/cava/themes
/config/mpd/database
/config/mpd/log
/config/mpd/playlists
/config/mpd/state
/config/mpd/sticker.*
/config/mpv/watch_later/
/config/nvim/data/
/config/weechat
/config/xfce4/desktop/
/config/xfce4/panel/
/config/xfce4/xfconf/
/config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
/extras/config
/extras/bin
/zsh/*.lck

# secrets
/extras/.deadname_re
/extras/secrets

# hostname-suffixed symlinks
/config/foot/foot.ini
/config/i3blocks/bin/date_fuzzy_emoji_clock.py
/config/i3blocks/config
/config/mako/config
/config/sway/config.d/host-include
